<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Rick and Morty</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
<header class="">
    <h1>Rick and Morty</h1>
    <ul>
        <li>
            <a href="/">Inicio</a>
        </li>
        <li>
            <a href="/favorites">Favorites</a>
        </li>
        
    </ul>
</header>

<main>
    
    <!-- Formulario simple para interceder por peticiones GET enviando parámetros de búsqueda textual -->
    <form method="get">
        <input type="text" name="name" placeholder="Search character">
        <button type="submit" class="">Buscar</button>
    </form>
    <hr>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    
    <ul class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for c in characters %}
        <li class = "">
            <strong>{{ c.name }}</strong><br>
            Status: {{ c.status }}<br>
            Species: {{ c.species }}<br>
            Origin: {{ c.origin.name }}<br>
            <img src="{{ c.image }}" width="120"><br>
    
            <!-- Formulario imperativo y oculto responsable de emitir POST integrales referenciando parámetros del personaje para registrarse de forma exitosa -->
            <form method="post" action="/save">
                <input type="hidden" name="api_id" value="{{ c.id }}">
                <input type="hidden" name="name" value="{{ c.name }}">
                <input type="hidden" name="image" value="{{ c.image }}">
                <input type="hidden" name="page" value="{{ page }}">
                <button type="submit">Guardar</button>
            </form>
        </li>
    
        <hr>
    {% endfor %}
    </ul class = "animation-bounce">
    
    <!-- Lógica condicional: Únicamente renderizar componentes de interactividad de paginación si se listaron bajo una modalidad por defecto sin interacciones de búsqueda ('search' false). -->
    {% if not search %}
        <!-- Enlace regresivo correspondiente al punto del atributo prev enviado directo de la información provista por la jerarquía en la clave info -->
        {% if info.prev %}
            <a href="/?page={{ page - 1 }}">Anterior</a>
        {% endif %}
    
        <!-- Impresión tangible de posición sobre número de la página -->
        Page {{ page }}
    
        <!-- Enlace iterativo correspondiente hacia adición posicional originado del atributo 'next' en la misma estructura paramétrica -->
        {% if info.next %}
            <a href="/?page={{ page + 1 }}">Siguiente</a>
        {% endif %}
    {% endif %}
</main>
</body>
</html>